body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

.grey {
	background-color:  #ededed;
	color: black;
}

.grey > a {
	text-decoration: none;
	color: black;
}

.present {
	border: 2px solid lightblue;
	border-radius: 2px;
	width: 250px;
}
